body, html {
	height: 100%;
}

body {
	font-family: 'Oswald', 'sans-serif';
    background-image: url('images/ffbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
	background-color: #000;
	padding: 0;
	color: #fff;
	min-height: 100%;
	border: 1px solid #000;
}

.nav, .navbar-default {
	background-color: #000;
	color: #fff;
}

.nav, .navbar-default li {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: linear-gradient(to bottom,#000,#333333);

}

.nav, .navbar-default a {
	color: #fff;
}

.nav, .navbar-default a:hover {
	color: #000;
}

.navMenu {
	padding-left: 15px;
	padding-right: 5px;
}

/*Home Page Styling*/

.header img {
    width: 100%;
}

.matchups {
    text-align: center;
    background-color: #333333;
    background: linear-gradient(to bottom,#000,#333333)
}

.matchups ul {
    padding: 0;
}

.matchups li {
    list-style: none;
}

.news {
	background-color: #333333;
	color: #fff;
	background: linear-gradient(to bottom,#000,#333333);
}

.sidebar {
	padding-left: 5px;
	padding-right: 20px;
}

.sidebar h4 {
	margin: 0;
	padding-top: 1em;
	padding-bottom: .5em;
}

/*Teams Page Styling*/

.teams {
    padding-top: 2em;
}

.teams li {
    list-style: none;
    text-align: center;
}

.teams li img {
    margin: .5em auto;
    display: inline-block;
    border: 1px solid #fff;
}

/*Standings Page Styling*/

.table tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.standings {
    padding-left: 7em;
    padding-top: 1em;
}


/*Champions Page Styling */

.champion {
    text-align: center;
}

.champion img {
    border: 1px solid #fff;
    margin: 0 auto 1em;
}





