/*Home Page Styling*/

.header img {
    width: 100%;
}

.matchups {
    text-align: center;
}

.matchups ul {
    padding: 0;
}

.matchups li {
    list-style: none;
}


/*Teams Page Styling*/

.teams {
    padding-top: 2em;
}

.teams li {
    list-style: none;
}

.teams li img {
    margin: auto;
    padding-bottom: 1em;
}

/*Standings Page Styling*/

.table tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}