body, html {
    height: 100%;
}

body {
    padding-top: 80px;
}

/*Home Page Styling*/

.sidebar {
   text-align: center;
}


/*Team Page Styling*/

.teams img {
    margin: 1em auto;
}


/*Standing Page Styling*/

.table {
    max-width: 75%;
    margin: auto;
    text-align: center;
    height: 47em;    
}

.table th {
    text-align: center;
}

.table tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}



/*Champions Page Styling*/

.winner {
    text-align: center;
}

.champion h1, .champion h3 {
    text-align: center;
}



/*Media Queries*/

@media(max-width: 500px){
    .table {
        height: 30em
    }
}
